---
import { getCollection, render } from 'astro:content'
import { Contact } from 'lucide-react'
import { Separator } from '@/components/ui/separator'
import { cn } from '@/lib/utils'
import { badgeVariants } from '@/components/ui/badge'

import MainTitle from '@/components/title/main-title'
import PostLayout from '@/layouts/PostLayout.astro'
import MarkdownLayout from '@/layouts/MarkdownLayout.astro'
import Utterances from '@/components/comment/Utterances'
import TencentCloudAD from '@/components/ad/tencent-cloud-ad'

export async function getStaticPaths() {
  const postEntries = await getCollection('posts')

  return postEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await render(entry)
---

<PostLayout title={`博客 | ${entry.data.title}`}>
  <div>
    <div class="flex items-center text-primary my-4">
      <Contact size={20} className="mr-2" />
      {entry.data.pubDate.toISOString().slice(0, 10)} @{entry.data.author}
    </div>
    <div class="my-4">
      <MainTitle>
        {entry.data.title}
      </MainTitle>
    </div>
    <p class="text-xl text-muted-foreground my-4">
      {entry.data.description}
    </p>
    <div class="my-4">
      {
        entry.data.tags.map((tag) => (
          <a
            href={`/tags/${tag}`}
            class={cn(badgeVariants({ variant: 'secondary' }), 'mr-2')}
          >
            {tag}
          </a>
        ))
      }
    </div>
  </div>
  <Separator className="my-8" />
  <MarkdownLayout>
    <Content />
  </MarkdownLayout>
  <Separator className="my-8" />
  <Utterances />
  <TencentCloudAD />
</PostLayout>
