---
import { getCollection, render } from 'astro:content'
import { Contact } from 'lucide-react'

import PostLayout from '@/layouts/PostLayout.astro'
import MainTitle from '@/components/title/main-title'
import { Separator } from '@/components/ui/separator'
import { cn } from '@/lib/utils'
import { badgeVariants } from '@/components/ui/badge'
import MarkdownView from '@/components/MarkdownView.astro'

export async function getStaticPaths() {
  const postEntries = await getCollection('posts')

  return postEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await render(entry)
---

<PostLayout title={`博客 | ${entry.data.title}`}>
  <div class="flex items-center text-primary my-4">
    <Contact size={20} className="mr-2" />
    {entry.data.pubDate.toISOString().slice(0, 10)} @{entry.data.author}
  </div>
  <div class="my-4">
    <MainTitle>
      {entry.data.title}
    </MainTitle>
  </div>
  <p class="text-xl text-muted-foreground my-4">
    {entry.data.description}
  </p>
  <div class="my-4">
    {
      entry.data.tags.map((tag) => (
        <a
          href={`/tags/${tag}`}
          class={cn(badgeVariants({ variant: 'secondary' }), 'mr-2')}
        >
          {tag}
        </a>
      ))
    }
  </div>
  <Separator className="my-8" />
  <MarkdownView>
    <Content />
  </MarkdownView>
  <Separator className="my-8" />
</PostLayout>
