---
import { getCollection } from 'astro:content'

import Layout from '../../layouts/Layout.astro'
import PostCard from '../../components/PostCard.astro'
import PageTitle from '../../components/typography/PageTitle.astro'

const pageTitle = '落秋cc | 文章'

const posts = await getCollection('posts')
posts.sort((x, y) => {
  return y.data.pubDate.getTime() - x.data.pubDate.getTime()
})
---

<Layout pageTitle={pageTitle}>
  <PageTitle>全部文章</PageTitle>
  {
    posts.map((post) => (
      <a href={`/posts/${post.slug}`}>
        <PostCard
          title={post.data.title}
          description={post.data.description}
          tags={post.data.tags}
          pubDate={post.data.pubDate}
          author={post.data.author}
          coverUrl={post.data.coverUrl}
        />
      </a>
    ))
  }
</Layout>
