---
import { getCollection } from 'astro:content'
import { Button } from '@/components/ui/button'
import { SquareArrowRight } from 'lucide-react'

import MainLayout from '@/layouts/MainLayout.astro'
import AboutMe from '@/components/about/about-me'
import PostCard from '@/components/post/post-card'
import MomentCard from '@/components/moment/moment-card'
import MainTitle from '@/components/title/main-title'
import PikpakAD from '@/components/ad/pikpak-ad'
import TencentCloudAD from '@/components/ad/tencent-cloud-ad'

const title = '落秋cc | 首页'

const posts = await getCollection('posts')
const moments = await getCollection('moments')

posts.sort((x, y) => {
  return y.data.pubDate.getTime() - x.data.pubDate.getTime()
})
const latestPosts = posts.slice(0, 5)

moments.sort((x, y) => {
  return y.data.pubDate.getTime() - x.data.pubDate.getTime()
})
const latestMoments = moments.slice(0, 4)
---

<MainLayout title={title}>
  <AboutMe />

  <MainTitle>最新动态</MainTitle>
  <div class="my-4 grid grid-cols-1 gap-4 md:grid-cols-2">
    {
      latestMoments.map((moment) => (
        <MomentCard
          url={moment.data.url}
          title={moment.data.title}
          topics={moment.data.topic}
          pubDate={moment.data.pubDate}
          author={moment.data.author}
        >
          {moment.body}
        </MomentCard>
      ))
    }
  </div>

  <a href={'/moments'}>
    <Button>
      更多动态 <SquareArrowRight />
    </Button>
  </a>

  <PikpakAD />

  <MainTitle>最新博客</MainTitle>
  {
    latestPosts.map((post) => (
      <PostCard
        title={post.data.title}
        description={post.data.description}
        id={post.id}
        tags={post.data.tags}
        pubDate={post.data.pubDate}
        author={post.data.author}
      />
    ))
  }
  <a href={'/posts/1'}>
    <Button>
      更多博客 <SquareArrowRight />
    </Button>
  </a>

  <TencentCloudAD />
</MainLayout>
