---
import { getCollection } from 'astro:content'

import Layout from '../layouts/Layout.astro'
import PageTitle from '../components/typography/PageTitle.astro'
import PostCard from '../components/PostCard.astro'
import MomentCard from '../components/moment/MomentCard.astro'
import MomentWrapper from '../components/moment/MomentWrapper.astro'
import ProfileCard from '../components/ProfileCard.astro'

const pageTitle = '落秋cc | 首页'

const posts = await getCollection('posts')
const moments = await getCollection('moments')

const focusPosts = posts.filter((post) => post.data.isFocus)
focusPosts.sort((x, y) => {
  return y.data.pubDate.getTime() - x.data.pubDate.getTime()
})

const focusMoments = moments.filter((post) => post.data.isFocus)
focusMoments.sort((x, y) => {
  return y.data.pubDate.getTime() - x.data.pubDate.getTime()
})
---

<Layout pageTitle={pageTitle}>
  <ProfileCard />
  <PageTitle>动态</PageTitle>
  <MomentWrapper>
    {
      focusMoments.map(async (moment) => {
        return (
          <MomentCard
            pubDate={moment.data.pubDate}
            author={moment.data.author}
            url={moment.data.url}
            title={moment.data.title}
          >
            {moment.body}
          </MomentCard>
        )
      })
    }
  </MomentWrapper>
  <a href="/moments">
    <h3 class="all">查看所有动态</h3>
  </a>

  <PageTitle>热门博客</PageTitle>
  {
    focusPosts.map((post) => (
      <a href={`/posts/${post.id}`}>
        <PostCard
          title={post.data.title}
          description={post.data.description}
          tags={post.data.tags}
          pubDate={post.data.pubDate}
          author={post.data.author}
          coverUrl={post.data.coverUrl}
        />
      </a>
    ))
  }
  <a href="/posts/1">
    <h3 class="all">查看所有博客</h3>
  </a>
</Layout>

<style>
  .all {
    margin: 24px 0;
    font-size: 16px;
    color: #525ceb;
  }
</style>
