---
import { getCollection } from 'astro:content'

import Layout from '../layouts/Layout.astro'
import Banner from '../components/banner/Banner.astro'
import PageTitle from '../components/typography/PageTitle.astro'
import PostCard from '../components/PostCard.astro'

const pageTitle = '落秋cc | 首页'

const allPosts = await getCollection('posts')
const posts = allPosts.filter((post) => post.data.isFocus)
---

<Layout pageTitle={pageTitle}>
  <PageTitle>动态</PageTitle>
  <br />
  <Banner />
  <PageTitle>热门文章</PageTitle>
  {
    posts.map((post) => (
      <a href={`/posts/${post.slug}`}>
        <PostCard
          title={post.data.title}
          description={post.data.description}
          tags={post.data.tags}
          pubDate={post.data.pubDate}
          author={post.data.author}
          coverUrl={post.data.coverUrl}
        />
      </a>
    ))
  }
  <a href="/posts">
    <h3 class="all-post">查看全部文章</h3>
  </a>
</Layout>

<style>
  .all-post {
    margin: 24px 0;
    font-size: 16px;
    color: #525ceb;
  }
</style>
