---
import { Image } from 'astro:assets'
import LinkIcon from '../../assets/svg/icon/link.svg'

const { pubDate, author, url, title } = Astro.props

const hasLink = url !== '/'

const cn = (hasLink: boolean) => {
  return hasLink ? 'show-link' : ''
}
---

<div class={`moment ${cn(hasLink)}`}>
  <div class="moment-content">
    {
      hasLink && (
        <Image class="link-icon" width={36} src={LinkIcon} alt="link" />
      )
    }
    <section class="moment-info">
      {pubDate.toISOString().slice(0, 10)} @{author}
    </section>
    <div class="moment-body"><slot /></div>
    <section class="moment-title">
      —— {title}
    </section>
  </div>
  <div class="moment-more">
    <a target="_blank" title="与该动态有关的其他站点" href={url}>更多信息</a>
  </div>
</div>

<style>
  .moment {
    position: relative;
    margin: 24px 0;
  }

  .show-link:hover {
    .moment-content {
      transform: translateX(-80px);
    }

    .moment-more {
      z-index: 1;
      opacity: 1;
    }
  }

  .moment-more {
    position: absolute;
    font-weight: bold;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
  }

  .moment-content {
    position: relative;
    padding: 16px;
    background: linear-gradient(135deg, #525ceb 60%, #000000 60%, #000000 100%);
    transition: 0.3s;
  }

  .link-icon {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .moment-body {
    margin-bottom: 16px;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff;
  }

  .moment-title {
    text-align: right;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff9f;
  }

  .moment-info {
    padding-bottom: 16px;
    font-size: 12px;
    font-style: italic;
    color: #ffffff;
  }
</style>
