---
import { Image } from 'astro:assets'

const { title, description, tags, pubDate, author, coverUrl } = Astro.props
---

<div class="post">
  <!-- <div class="post-cover">
    <Image class="post-cover-img" inferSize src={coverUrl} alt="cover" />
  </div> -->

  <div class="post-info">
    <section class="author-date">
      {pubDate.toISOString().slice(0, 10)} @{author}
    </section>
    <h3 class="title">{title}</h3>
    <p class="description">{description}</p>
    <section class="tags">
      {
        tags.map((tag: string) => (
          <a href={`/tags/${tag}`}>
            <section class="tag-item">{tag}</section>
          </a>
        ))
      }
    </section>
  </div>
</div>

<style>
  .post {
    width: 100%;
    padding: 24px 0;
    border-bottom: 1px solid rgb(224, 224, 224);
  }

  .post-info {
    width: 100%;
  }

  .post-cover-img {
    width: 160px;
    height: 120px;
    object-fit: cover;
  }

  .author-date {
    font-size: 16px;
    font-style: italic;
    color: #525ceb;
  }

  .title {
    margin: 16px 0;
    font-size: 24px;
    color: black;
  }

  .description {
    margin: 16px 0;
    font-size: 18px;
    color: black;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag-item {
    padding: 4px 6px;
    margin: 4px;
    font-size: 12px;
    background-color: #bfcfe7;
    color: black;
  }
</style>
